.btn {
    height: 45px;
    padding: 12px 25px;
    background: $main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: all 0.7s;

    &_clear {
        background: rgba(0, 0, 0, 0);
        box-shadow: none;
        transition: 0.7s all;
        &:hover {
            background: $main-color;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
    }
}
