.price {
    padding: 60px 0 0 0;
    &__wrapper {
        margin: 60px 0 0 0;
        padding: 0 50px;
        display: grid;
        grid-template: repeat(3, minmax(44px, auto)) / repeat(2, 366px);
        grid-auto-rows: minmax(44px, auto);
        row-gap: 15px;
        justify-content: space-between;
    }
}

.item-price {
    position: relative;
    padding: 0 0 0 25px;
    display: grid;
    grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto);
    row-gap: 5px;
    justify-content: space-between;
    align-content: space-between;
    &::before {
        position: absolute;
        content: "";
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background: $main-color;
        top: 3px;
    }
    &__cost {
        justify-self: end;
    }

    &__decr {
        font-size: 12px;
        line-height: 18px;
        grid-column: 1 / 3;
    }
}
