.social {
    font-size: 20px;
    color: $text-color;
    transition: 0.5s all;
    &:hover {
        text-decoration: none;
        color: $main-color;
        font-size: 25px;
    }
    &_w {
        &:hover {
            color: #fff;
        }
    }
    &_fz30 {
        font-size: 30px;
        &:hover {
            font-size: 35px;
        }
    }
}
